

.header-container{
		position: relative;
		background: black;
		height: 250px;
		width: 100%;
	  }
	  

.header-logo img {
		width: 20px;
		max-width: 100%;
	  }


.ul-container {
		font-style: normal;
		font-size: 1.563rem;
		display: flex;
		justify-content: center;
		align-items: center;
	  }


.news-image-1{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
  margin: auto;
  height: 75vw;
  width: 100%;
}



.news-image-2{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  
}



.news-image-3{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  
}



.news-image-4{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;

}


.news-image-5{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  
}

.news-image-6{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;

}


.news-image-7{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  
}



.news-image-8{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  
}



.news-image-9{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column; 
 
}



.news-image-10{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; 
}



.news-image-11{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column; 
  
}


.news-image-12{
background: url("https://source.unsplash.com/random/1600x900");
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;
  height: 75vw;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column; 
}


.article-text {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding-top: 200px;


} 

.site-footer{
	height: 20vw;
	width: 100%;
	color: black;
}

.footer-copyright{
	margin-left: 7rem;
	padding-top: 2rem;
	color: black;
}