.news-image {
  background-size: cover;
  background-position: center, bottom center, center;
  background-repeat: no-repeat;

  height: 90vw;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-end;

  @include tablet {
    height: 40vw;
  }

  @include desktop {
    height: 25vw;
  }
}

#result {
  display: grid;
  grid-template-columns: 1fr;
 

  p {
    color: #ffffff;
    padding: 1rem;
    line-height: 1.5;
    background: rgba(39, 30, 30, 0.6);
  }

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.article-text {
  color: #ffffff;
  padding: 1rem;
  line-height: 1.5;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;

  @include tablet {
    padding-top: 6rem;
  }

  @include desktop {
    padding-top: 250px;
  }
}

